.home__container {
    margin-top: 71px;
    gap: 115px;
}

.home__left {
    max-width: 265px;
    width: 100%;
}

.home__left__join-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #2D1FE8;
    border-radius: 20px;
    display: flex;
    width: 148px;
    height: 36px;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 32px;
    margin-bottom: 20px;
}

.home__left__login-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D1FE8;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 32px;
    width: 104px;
    height: 36px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #D7D6EE;
    border: 1px solid #2D1FE8;
    border-radius: 20px;
    margin-bottom: 20px;
}

.home__left-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 20px;
}

.home__left__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home__left__list-item {
    width: 172px;
    height: 36px;
    padding: 8px 32px;
}

.home__left-item-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home__left__list-item:hover {
    background: rgba(190, 161, 166, 0.15);
    border-radius: 10px;
}

.home__left__link__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.home__right {
    max-width: 738px;
    width: 100%;
}

.home__right__back-btn {
    background: none;
}

.home__right__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #0A1640;
    margin-bottom: 50px;
}

.home__right__category__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 30px;
}

.home__right__category-tags {
    margin-bottom: 30px;
}

.home__right__tags__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 10px;
    width: 100%;
}

.home__right__tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 15px;
}

.tag-green {
    border: 1px solid #00FF19;
    transition: all 0.3s ease;
}

.tag-green:hover {
    background-color: #00FF19;
    color: #000000;
}

.home__right-link {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.home__right-link:hover {
    color: #000000;
}

.tag-red {
    border: 1px solid #FF0000;
    transition: all 0.3s ease;
}

.tag-red:hover {
    background-color: #FF0000;
    color: #000000;
}

.home__right__category__videos-wrapper {
    gap: 10px;
    margin-bottom: 50px;
}

.home__right__video-wrapper {
    background: #BDBDBD;
    border-radius: 10px;
    width: 177px;
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__right__add-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #2D1FE8;
    border-radius: 30px;
    width: 138px;
    height: 34px;
    flex-direction: row;
    justify-content: center;
    padding: 8px 16px;
}

.home__right__add-icon {
    width: 18px;
    height: 18px;
}

.home__right__add-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media only screen and (max-width: 600px) {
    /* MOBILE */

    .home__container {
        margin-top: 27px;
        gap: 115px;
    }

    .home__right {
        max-width: 738px;
        width: 100%;
    }

    .home__right__back-btn {
        background: none;
    }

    .home__right__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #0A1640;
    }

    .home__right__category__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        margin-bottom: 15px;
    }

    .home__right__category-tags {
        margin-bottom: 30px;
    }

    .home__right__tags__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 27px;
        row-gap: 15px;
        width: 100%;
    }

    .home__right__tag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 15px;
    }

    .tag-green {
        border: 1px solid #00FF19;
        transition: all 0.3s ease;
    }

    .tag-green:hover {
        background-color: #00FF19;
        color: #000000;
    }

    .home__right-link {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .home__right-link:hover {
        color: #000000;
    }

    .tag-red {
        border: 1px solid #FF0000;
        transition: all 0.3s ease;
    }

    .tag-red:hover {
        background-color: #FF0000;
        color: #000000;
    }

    .home__right__category__videos-wrapper {
        gap: 0;
        row-gap: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .home__right__video-wrapper {
        background: #BDBDBD;
        border-radius: 10px;
        width: 100px;
        height: 86px;
    }

    .home__right__video-wrapper img {
        width: 25px;
        height: 25px;
        object-fit: contain;
    }

    .home__right__add-btn {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        gap: 8px;
        background: #2D1FE8;
        border-radius: 30px;
        width: 138px;
        height: 34px;
        flex-direction: row;
        justify-content: center;
        padding: 8px 16px;
    }

    .home__right__add-icon {
        width: 18px;
        height: 18px;
    }

    .home__right__add-text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .home__left {
        display: none;
    }

    .home__right__back-btn {
        background: none;
        margin: 0;
        padding: 0;
    }

    .home__right__back-btn img {
        margin-right: 120px;
    }

    .home__right__heading-wrapper {
        margin-bottom: 20px;
    }

    .home__right__heading {
        margin-bottom: 0;
        display: flex;
        margin-right: auto;
    }

    .navigation-mobile {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.25);
        padding-top: 11px;
        padding-bottom: 9px;
    }

    .navigation-nav {}

    .navigation__list {
        display: flex;
        width: 100vw;
        padding-right: 21px;
        padding-left: 17px;
        align-items: center;
        justify-content: space-between;
    }

    .navgiation__item {
        display: flex;
        flex-direction: column;
    }

    .navigation__item-link {
        display: flex;
        flex-direction: column;
    }

    .navigation__item-icon {
        width: 25px;
        height: 22px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

    .navigation__item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        color: #000000;
        margin-top: 3px;
    }
}